.form {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: space-between;  
    max-height: 50vh;
    padding: 50px 0px;
    max-width: 30vw;
    margin: 50px auto;
    background-color: salmon;
    border-radius: 50px 5px 50px 5px;
}

.PostButton{
  border: none;
  color: black;
  /* padding: 15px 32px; */
  font-size: 20px;
  border-radius: 8px;
  background-color: pink;

}